name: Publish
#on:
#  release:
#    types: [released, prereleased]
on:
  push:
    branch:
      3-workflow
#    tags:
#      - '*.*.*'
#  workflow_dispatch:
#    inputs:
#      release_tag:
#        description: version x.y.z
#        required: true
#        type: string
jobs:
  publish:
    name: Release build and publish
    runs-on: ubuntu-latest

    env:
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      GPG_KEY_CONTENTS: ${{ secrets.GPG_KEY_CONTENTS }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Bash2sonatype clone
        run: |
          git clone https://github.com/vafeen/bash2sonatype.git

      - name: Build
        run: |
          chmod +x ./gradlew
          ./gradlew build

      - name: Bash2sonatype publish
        run: |
          ./publish-kotlin-lib
