name: Publish
#on:
#  release:
#    types: [released, prereleased]
on:
  push:
    branch:
      3-workflow
#    tags:
#      - '*.*.*'
#  workflow_dispatch:
#    inputs:
#      release_tag:
#        description: version x.y.z
#        required: true
#        type: string
jobs:
  publish:
    name: Release build and publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Publish to MavenCentral
        run: |
          chmod +x ./gradlew
          
          ./gradlew build
          
          git clone git@github.com:vafeen/bash2sonatype.git
          
          ./bash2sonatype/scripts/setup 
          
          ./publish-kotlin-lib
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          GPG_KEY_CONTENTS: ${{ secrets.GPG_KEY_CONTENTS }}
#  release:
#    #    needs: [ publish ]
#    runs-on: ubuntu-latest
#    permissions:
#      contents: write
#
#    steps:
#      #      - name: Checkout Changes
#      #        uses: actions/checkout@v4
#      #        with:
#      #          sparse-checkout: |
#      #            CHANGE.md
#      #          sparse-checkout-cone-mode: false
#
#      # - name: Generate Changelog
#      #   run: |
#      #     cat CHANGE.md > CHANGE.txt
#
#      - name: Release
#        uses: softprops/action-gh-release@v2
#        # with:
#        # body_path: CHANGE.txt
